:root {
    --main-color: #FFEDEF;
    --secondary-color: #F74E61;
    --text-color: #292929;
    --background-color: #FFFFFF;
    --width: 1380px;
}

html{
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Jost", sans-serif;
    color: var(--text-color);
    background-color: var(--main-color);
    max-width: var(--width);
    margin: auto;
}



